*{
    background-color: rgb(44, 43, 85);
}

#him{

    border: 3px dashed whitesmoke;
    border-radius: 10%;
}

#abim{
    border: 5px dashed black;
    border-radius: 40%;
}

.container{
    width: 100%;
    text-align:center;
}

.child{
    width: 400px;
    margin: 0 auto;
}

.schild{
    width: 50%;
}

.imagen{
    position: relative;
    top: 0px;
    left: 0px;
}

.backsk{
    background-color: rgb(79, 199, 235);
}

.myclass{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

ul{
    margin-left: -40px;
    list-style-position: inside;
}

#iddes{
    color: coral;
}

button{
    background-color: chartreuse;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

h3{
    color:aliceblue;
}

h2{
    color:rgb(226, 119, 26);
}

h1{
    font-size: 3rem;
    color: cornflowerblue;
}

#idpersonal{
    color: cornflowerblue;
}

a{
    color: rgb(58, 214, 55);
}

p{
    font-size: 12px;
    color:beige;
}

li{
    font-size: 12px;
    color:beige;
}

footer {
    display: block;
}

.justxt p{
    font-size: medium;
    text-align: justify;
}

.justxt li{
    font-size: medium;
    text-align: justify;
}

.leftright h2{
    text-align: right;
}

.leftright li{
    font-size: large;
    text-align: justify;
}