*{
    background-color: rgb(44, 43, 85);
    text-align: center;
}

.myclass{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
}

ul{
    margin-left: -40px;
    list-style-position: inside;
}

#iddes{
    color: coral;
}

button{
    background-color: chartreuse;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

h3{
    color:aliceblue;
}

h2{
    color:rgb(226, 119, 26);
}

h1{
    color: cornflowerblue;
}

#idpersonal{
    color: cornflowerblue;
}

a{
    color: rgb(58, 214, 55);
}

p{
    font-size: 10px;
    color:beige;
}

li{
    font-size: 12px;
    color:beige;
}

footer {
    display: block;
}