.container{
    width: 606px;
    height: 350px;
    border: 5px solid red;
}

.dis{
    display: inline-block;
    vertical-align: top; /* Aligns the blocks to the top */
    width: 200px;
    height: 350px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}